        <nav class="d-none d-sm-block bg-light sidebar">
          <div>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" routerLink="/admin/dashboard">
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin/main">
                  Main
                </a>
              </li>
           
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin/breakfast">
                  Breakfast
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin/lunch">
                  Lunch
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin/dinner">
                  Dinner
                </a>
              </li>
            </ul>
              
          </div>
        </nav>
